<h1>The round is over!</h1>

<h2>Here are your stats:</h2>



<p>It took your <%= @round.guesses.count %> guesses to get through <%= @round.cards.count %></p>

<a href="/users/user_page">Back to user page</a>
