<header>
<h1>THE ROUND IS OVER! WOO!</h1>
</header>
<sidebar id="left-sidebar">

  <section class="display">
    <h2>Here are your stats:</h2>
    <p>It took you:</p>
    <p span class='result'><%= @round.guesses.count %> guesses</p>
    <p>to get through</p>
    <p span class='result'><%= @round.cards.count %> cards!</p>
    <p>Time taken:</p>
    <p span class='result'><%= @round.calculate_time %></p>
  </section>

  <section class="display">
    <p><a href="/users/user_page">Go Back To Your User Page</a></p>
  </section>
</sidebar>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.backstretch.min.js"></script>
<script type="text/javascript">
$(function(){
     $(window).resize(function(){
         if($(this).width() >= 375){
             $.backstretch("/images/ric_flair_img.png", {speed: 150});
         }
      })
      .resize();//trigger resize on page load
});
</script>
