<% if @last_guess %>
  <% answer = @last_guess.card.answer %>
  <% if @last_guess.true_or_false == true %>
    <h2 id='correct-guess'>Correct! Layeth the smackdown!</h2>
  <% else %>
    <h2 id='wrong-guess'>Wrong answer! Take that guess, shine it up real nice,<br>turn that sum-bitch sideways, and stick it straight up your candy ass!<br><%= answer %> is the right answer.</h2>
  <% end %>
<% end %>


<article class="card">
  <p>Question:</p>
  <span class="question"><%= @card.question %></span>
</article>

<form method="post" action="/rounds/<%= @round.id %>/guesses">
  <label>Your answer is:</label>
  <input type="text" name="user_answer">
  <input type="hidden" name="guess[card_id]" value="<%= @card.id %>">
  <input type="submit" value="Submit">
</form>