<article class="card">
  <p>Question:</p>
  <span class="question"><%= @card.question %></span>
</article>

<form method="post" action="/rounds/<%= @round.id %>/guesses">
  <label>Your answer is:</label>
  <input type="text" name="user_answer">
  <input type="hidden" name="guess[card_id]" value="<%= @card.id %>">
  <input type="submit" value="Submit">
</form>
