<header>
  <h1>CAN YOU SMELL WHAT THESE FLASHCARDS ARE COOKING?</h1>
</header>

<% unless logged_in? %>
<section class="login">
  <form method='post' action='/users/login'>
    <ul>
      <li><label for="user">Username:</label></li>
      <li><input id="user" name="username" type='text'></li>
      <li><label for="pass">Password:</label></li>
      <li><input id="pass" name="password" type='password'></li>
      <li><input type="submit" value="Get in the ring, ya jabroni"></li>
    </ul>
  </form>
<% end %>

  <% if @errors %>
    <% @errors.each do |error| %>
      <p span class="error"><%= "#{error}" %></span></p>
    <% end %>
  <% end %>

</section>

<% if logged_in? %>

  <h2>WELCOME <%= current_user.username %> </h2>
  <p>You can <a href="/users/<%= current_user.id %>">jump into the ring</a> or <a href="/logout">log out like a chump</a>.
<% end %>

<% unless logged_in? %>
<section>
  <p>New? Register <a href='/users/new'>by clicking here</a>.</p>
</section>
<% end %>
