<header>
  <h1>Enter the ring:</h1>
</header>

<section>
  <form method='post' action='/users'>
    <label for="user">Desired Username:</label>
    <input id="user" name="username" type='text'>
    <label for="pass">Desired Password</label>
    <input id="pass" name="password" type='password'>
    <input type="submit" value="Register">
  </form>
</section>

<section>
  <% if @errors %>
    <% @errors.each do |error| %>
    <p><%= "#{error}" %></p>
    <% end %>
  <% end %>
</section>

