<header>
  <h1>Enter the ring:</h1>
</header>

<section class="login">
  <form method='post' action='/users'>
    <ul>
      <li><label for="user">Desired Username:</label>
      <input id="user" name="username" type='text'></li>
      <li><label for="pass">Desired Password</label>
      <input id="pass" name="password" type='password'></li>
      <li><input type="submit" value="Register"></li>
    </ul>
  </form>
</section>

<section>
  <% if @errors %>
    <% @errors.each do |error| %>
    <p span class="error"><%= "#{error}" %></span></p>
    <% end %>
  <% end %>
</section>

